  #header-img {
    margin-top: 100px;
    width: 15%; 
}
#about > iframe {
  max-width: 560px;
  width: 100%;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
}


#header {
  position: fixed;
  top: 0;
  min-height: 75px;
  max-height: 50px;
  padding: 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#111;
  width: 100%;
 }
body {
  background-color: gray;
 }

.nav-bar {

  background-color:white;
  width: 100%;
  top: 0px; 
  
  width: 100%;
  height: 75px;
  float: left;
 }
#nav-bar {
  list-style-type: none;
  position:fixed;
  float: center;
  display: block;
  color: gray;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
  font-size: 15px;
 }
#about {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#about > iframe {
  max-width: 560px;
  width: 100%;
}

#about {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li {
  list-style-type:none;
}















